<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Zohologin</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>listener.LoginContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>listener.LoginSessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUserServlet</display-name>
    <servlet-name>LogoutUserServlet</servlet-name>
    <servlet-class>controller.LogoutUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUserServlet</servlet-name>
    <url-pattern>/logoutpage</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.LoginRequestListener</listener-class>
  </listener>
  <filter>
    <display-name>UserAuthenticationFilter</display-name>
    <filter-name>UserAuthenticationFilter</filter-name>
    <filter-class>filter.UserAuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAuthenticationFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>UserSessionFilter</display-name>
    <filter-name>UserSessionFilter</filter-name>
    <filter-class>filter.UserSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserSessionFilter</filter-name>
    <url-pattern>/loginServlet</url-pattern>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>controller.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
</web-app>